# Ignorar archivos sin extensión en cualquier directorio
*.*

# Excepciones para permitir carpetas y archivos con extensión
!*/
!*.c
!*.h
!*.md
!*.gitignore

# Compiled object files
*.o

# Compiled dynamic libraries
*.so

# Compiled static libraries
*.a

# Executable files
*.out
*.exe

# Debug files
*.dSYM/
*.log

# Temporary files
*.tmp
*.temp

# Backup files
*~
*.bak

# IDE specific files
.vscode/
.idea/